%h-1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: bold;
  font-size: 48px;
  line-height: 100%;
  color: $white;
}

%h-2 {
  @extend %h-1;

  font-size: 28px;
  line-height: 125%;
  color: $black;
}

%h-3 {
  @extend %h-2;

  font-size: 20px;
}

%main-text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $gray;
}

%buttons-text {
  @extend %main-text;

  font-weight: 600;
  line-height: 100%;
  color: $white;
  text-align: center;
}

%header-text {
  @extend %main-text;

  color: $white;
  line-height: 140%;
}

%ticket {
  @extend %main-text;

  font-weight: 600;
  line-height: 100%;
  color: $white;
}

%menu-text {
  @extend %main-text;

  font-size: 14px;
  line-height: 150%;
  color: $white;
}

%menu-text-bold {
  @extend %menu-text;

  font-size: 16px;
  font-weight: 600;
}

%menu-text-link {
  @extend %h-1;

  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-decoration: none;
}

// footer

%footer-title {
  @extend %h-1;

  font-size: 18px;
}
