// SCREEN SIZE
@mixin on-tablet {
  @media (min-width: $tablet-size) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-size) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 39px;
  }

  @include on-desktop {
    padding-inline: 55px;
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin page-grid {
  @include on-tablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    margin: 0 auto;
  }

  @include on-desktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    column-gap: 30px;
    margin: 0 auto;
  }
}

@mixin image-hover($scale: 1.01, $brightness: 0.8, $transition: 0.3s) {
  transition: transform $transition ease;

  &:hover {
    transform: scale($scale);
    filter: brightness($brightness);
  }
}
